@model List<Repairis.DeviceCategories.Dto.DeviceCategoryBasicEntityDto>
@{
    ViewBag.Title = L("DeviceCategories");
}
<h2>@L("DeviceCategories")</h2>
<p>
    <a asp-action="Create" class="btn btn-success"><i class="fa fa-plus"></i> @L("NewDeviceCategory")</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>
                @L("DeviceCategoryNameHeader")
            </th>
            <th>@L("Enabled")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil text-success fa" aria-hidden="true"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash-o text-danger fa" aria-hidden="true"></i></a>
                </td>
                <td>
                    @item.DeviceCategoryName
                </td>
                <td>
                    @if (item.IsActive)
                {
                        <span class="text-success">@L("Yes")</span>
                    }
                    else
                    {
                        <span class="text-danger">@L("No")</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>