@model List<Repairis.Brands.Dto.BrandBasicEntityDto>
@{
    ViewBag.Title = "Brands";
}
<h2>Brands</h2>
<p>
    <a asp-action="Create" class="btn btn-success"><i class="fa fa-plus"></i> New brand</a>
</p>
<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>
            @L("BrandName")
        </th>
        <th>@L("Enabled")</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-pencil text-success fa" aria-hidden="true"></i></a>
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash-o text-danger fa" aria-hidden="true"></i></a>
            </td>
            <td>
                @item.BrandName
            </td>
            <td>
                @if (item.IsActive)
                {
                    <span class="text-success">@L("Yes")</span>
                }
                else
                {
                    <span class="text-danger">@L("No")</span>
                }
            </td>
        </tr>
    }
    </tbody>
</table>