@{
    ViewBag.Title = L("Employees");
}

<h3>@L("Employees")</h3>

<p>
    <a asp-action="Create" class="btn btn-success"><i class="fa fa-plus"></i> @L("NewEmployee")</a>
</p>


<ej-grid id="Employees" allow-text-wrap="true" allow-selection="false" allow-sorting="true" allow-paging="true" allow-filtering="true" enable-touch="false" allow-resize-to-fit="true" enable-alt-row="false">
    <e-datamanager url="/api/Employees" adaptor="UrlAdaptor" offline="false" />
    <e-sort-settings>
        <e-sorted-columns>
            <e-sorted-column field="Surname" direction="Ascending" />
        </e-sorted-columns>
    </e-sort-settings>
    <e-page-settings page-size="10" />
    <e-filter-settings filter-type="Excel" />
    <e-columns>
        <e-column template-id="#gridActionsTemplate" allow-sorting="false" allow-filtering="false" allow-grouping="false" width="50" />
        <e-column field="Surname" type="string" header-text="@L("Surname")" text-align="Center" width="100" />
        <e-column field="Name" type="string" header-text="@L("Name")" text-align="Center" width="100" />
        <e-column field="FatherName" type="string" header-text="@L("FatherName")" text-align="Center" width="100" />
        <e-column field="PhoneNumber" type="string" header-text="@L("MobilePhoneNumber")" width="100" />      
        <e-column field="EmailAddress" type="string" header-text="@L("EmailAddress")" />
        <e-column field="Address" type="string" header-text="@L("Address")" />
    </e-columns>
</ej-grid>

<script id="gridActionsTemplate" type="text/x-jsrender">
    <a href="/Employees/Edit/{{:Id}}"><i class="fa fa-pencil text-success fa" aria-hidden="true"></i></a>
    <a href="/Employees/Delete/{{:Id}}"><i class="fa fa-trash-o text-danger fa" aria-hidden="true"></i></a>
</script>