@model Repairis.Orders.Dto.OrderCompletionDto
@using System.Globalization
@using Repairis.Web.Startup
@inject Repairis.SpareParts.ISparePartAppService SparePartAppService

@{
    ViewBag.CurrentPageName = PageNames.Orders;
    ViewBag.Title = L("CompleteOrder{0}", Model.Id);
}
<div>
    <a asp-action="Index">@L("BackToList")</a>
</div>
<h3>@L("CompleteOrder{0}", Model.Id)</h3>
<hr/>
<form asp-action="Complete" method="post">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>@L("Warranty")</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label asp-for="DevicePickupDate" class="control-label col-md-2"></label>
                    <div class="col-md-2">
                        <ej-date-time-picker id="DevicePickupDate" ej-for="DevicePickupDate" watermark-text="@L("NotSet")" locale="@CultureInfo.CurrentUICulture.Name" width="100%"></ej-date-time-picker>
                        <span asp-validation-for="DevicePickupDate" class="text-danger"></span>
                    </div>
                    <label asp-for="WarrantyMonths" class="control-label col-md-2"></label>
                    <div class="col-md-6">
                        <ej-numeric-text-box id="WarrantyMonths" decimal-places="0" ej-for="WarrantyMonths" width="80"/>
                        <span asp-validation-for="WarrantyMonths" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Repair information</h4>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label asp-for="CreationTime" class="control-label col-md-2"></label>
                <div class="col-md-2">
                    <ej-date-time-picker id="CreationTime" ej-for="CreationTime" locale="@CultureInfo.CurrentUICulture.Name" enabled="false" width="100%"></ej-date-time-picker>               
                    <span asp-validation-for="CreationTime" class="text-danger"></span>
                </div>
                <label asp-for="CustomerFullName" class="control-label col-md-2"></label>
                <div class="col-md-6">
                    <input asp-for="CustomerFullName" class="form-control" disabled/>
                    <span asp-validation-for="CustomerFullName" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group">
                <label asp-for="AdditionalEquipment" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="AdditionalEquipment" class="form-control" disabled/>
                    <span asp-validation-for="AdditionalEquipment" class="text-danger"></span>
                </div>
            </div>
            
            <div class="form-group">
                <label asp-for="RepairPrice" class="control-label col-md-2"></label>
                <div class="col-md-2">
                    <ej-numeric-text-box id="RepairPrice" decimal-places="2" ej-for="RepairPrice" locale="@CultureInfo.CurrentUICulture.Name" enabled="false" width="100%"/>
                    <span asp-validation-for="RepairPrice" class="text-danger"></span>
                </div>
                <label asp-for="WorkDoneDescripton" class="control-label col-md-2"></label>
                <div class="col-md-6">
                    <input asp-for="WorkDoneDescripton" class="form-control" disabled/>
                    <span asp-validation-for="WorkDoneDescripton" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SparePartsUsed" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <ej-grid id="SparePartsUsed" allow-selection="false">
                        <e-datamanager url="/Orders/GetOrderSpareParts?orderId=@Model.Id" adaptor="UrlAdaptor"></e-datamanager>
                        <e-columns>
                            <e-column field="OrderId" type="number" default-value="@Model.Id" is-primary-key="true" visible="false" />
                            <e-column field="SparePartId" type="number" allow-editing="false" header-text="@L("SparePart")" foreign-key-field="Id" datasource="@await SparePartAppService.GetCompatibleSpareParts(Model.Device.Id)" foreign-key-value="SparePartName" />
                            <e-column field="Quantity" type="number" edit-type="Numeric" header-text="@L("Quantity")" validation-rules="@(new Dictionary<string,object> { {"required",true}, {"min",1}, {"max", int.MaxValue} })" />
                            <e-column field="PricePerItem" type="number" header-text="@L("PricePerItem")" validation-rules="@(new Dictionary<string,object> { {"required",true}, {"min",0}, {"max", decimal.MaxValue} })" />
                        </e-columns>
                    </ej-grid>
                </div>
            </div>
        </div>

        <div class="panel-footer text-right">
            <p><em>@L("RepairPrice") : @Model.RepairPrice @L("UAH")</em><p>
            <p><em>@L("SparePartTotalPrice") : @Model.SparePartCost @L("UAH")</em><p>

            <p><strong>@L("TotalPrice") : @Model.Total @L("UAH")</strong></p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-5">
            <input type="submit" value="Complete" class="btn btn-default col-md-2" />
        </div>
    </div>
 </div>
</form>

