@using System.Globalization
@model Repairis.Orders.Dto.OrderFullEntityDto
@inject Repairis.SpareParts.ISparePartAppService SparePartAppService
@inject Repairis.Orders.IOrderAppService OrderAppService

@{
    ViewBag.Title = "Edit";
}
<div>
    <a asp-action="Index">Back to List</a>
</div>
<h3>Edit Order @Model.Id</h3>
<hr />
<form asp-controller="Orders" asp-action="Edit" method="post">

    <div class="form-horizontal">

        <div asp-validation-summary="All"></div>
        <input asp-for="Id" hidden />
        <input asp-for="Customer.Id" hidden />
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Issues and additional notes:</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label asp-for="IssueDescription" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="IssueDescription" class="form-control" />
                        <span asp-validation-for="IssueDescription" class="text-danger"></span>
                    </div>
                </div> 
                <div class="form-group">
                    <label asp-for="AdditionalNotes" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="AdditionalNotes" class="form-control" />
                        <span asp-validation-for="AdditionalNotes" class="text-danger"></span>
                        <div class="checkbox">
                            <label>
                                <input asp-for="IsUrgent" /> @L("Urgent")
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input asp-for="IsWarrantyComplaint" /> @L("WarrantyComplaint")
                            </label>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Repair information:</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label asp-for="OrderStatus" class="control-label col-md-2"></label>
                    <div class="col-md-3">
                        <ej-drop-down-list id="OrderStatus" ej-for="OrderStatus" datasource="OrderAppService.GetLocalizedOrderStatuses()" width="100%">
                            <e-drop-down-list-fields text="Text" id="Value" value="Value" />
                        </ej-drop-down-list>
                        <span asp-validation-for="OrderStatus" class="text-danger"></span>
                    </div>
                </div> 
                <div class="form-group">
                    <label asp-for="AssignedEmployeeId" class="control-label col-md-2"></label>
                    <div class="col-md-3">
                        <ej-drop-down-list id="AssignedEmployeeDropDown" ej-for="AssignedEmployeeId" datasource="ViewBag.Employees" width="100%">
                            <e-drop-down-list-fields text="FullName" value="Id" id="Id" />
                        </ej-drop-down-list>
                        <span asp-validation-for="AssignedEmployeeId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <div class="checkbox">
                            <label>
                                <input asp-for="IsRepaired" /> @L("IsRepaired")
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="OrderRepairedDate" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <ej-date-picker id="OrderRepairedDate" ej-for="OrderRepairedDate" watermark-text="@L("NotSet")" locale="@CultureInfo.CurrentUICulture" ></ej-date-picker>
                        <span asp-validation-for="OrderRepairedDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="WorkDoneDescripton" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="WorkDoneDescripton" class="form-control" />
                        <span asp-validation-for="WorkDoneDescripton" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="RepairPrice" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <ej-numeric-text-box id="RepairPrice" decimal-places="2" ej-for="RepairPrice" locale="@CultureInfo.CurrentUICulture.Name"/>
                        <span asp-validation-for="RepairPrice" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="DevicePickupDate" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <ej-date-picker id="DevicePickupDate" ej-for="DevicePickupDate" watermark-text="@L("NotSet")" locale="@CultureInfo.CurrentUICulture.Name"></ej-date-picker>      
                        <span asp-validation-for="DevicePickupDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Spare parts used:</h4>
        </div>
        <div class="panel-body">
            

            <ej-grid id="SparePartsUsed" action-begin="begin" action-complete="complete" begin-edit="preventEditSparePartName">
                <e-datamanager url="/Orders/GetOrderSpareParts?orderId=@Model.Id" crud-url="/Orders/SparePartUpdate" adaptor="UrlAdaptor"></e-datamanager>
                <e-edit-settings allow-adding="true" allow-editing="true" allow-deleting="true"></e-edit-settings>
                <e-toolbar-settings show-toolbar="true" toolbar-items='@new List<string> {"add","edit","update", "delete", "cancel"}'/>
                <e-columns>
                    <e-column field="OrderId" type="number" default-value="@Model.Id" is-primary-key="true" visible="false"/>
                    <e-column field="SparePartId" type="number" allow-editing="false" header-text="@L("SparePart")" foreign-key-field="Id" datasource="@await SparePartAppService.GetCompatibleSpareParts(Model.Device.Id)" foreign-key-value="SparePartName"/>                   
                    <e-column field="Quantity" type="number"  edit-type="Numeric" header-text="@L("Quantity")"/>
                    <e-column field="PricePerItem" type="number" header-text="@L("Price per item")"/>
                    
                </e-columns>
            </ej-grid>          
        </div>
    </div>
    <div class="form-horizontal">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Device and additional equipment:</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label asp-for="Device.DeviceCategoryName" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="Device.DeviceCategoryName" class="form-control" disabled />
                        <span asp-validation-for="Device.DeviceCategoryName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Device.BrandName" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="Device.BrandName" class="form-control" disabled />
                        <span asp-validation-for="Device.BrandName" class="text-danger"></span>
                    </div>
                </div>               
                <div class="form-group">
                    <label asp-for="Device.DeviceModelName" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="Device.DeviceModelName" class="form-control" disabled />
                        <span asp-validation-for="Device.DeviceModelName" class="text-danger"></span>
                    </div>
                </div>            
                <div class="form-group">
                    <label asp-for="Device.SerialNumber" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="Device.SerialNumber" class="form-control" disabled />
                        <span asp-validation-for="Device.SerialNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="AdditionalEquipment" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="AdditionalEquipment" class="form-control" />
                        <span asp-validation-for="AdditionalEquipment" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Client:</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label asp-for="Customer.CustomerType" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <select asp-for="Customer.CustomerType" asp-items="Html.GetEnumSelectList<Repairis.Authorization.Users.CustomerType>()" class="form-control"></select>
                        <span asp-validation-for="Customer.CustomerType" class="text-danger"></span>
                    </div>
                </div> 
                <div class="form-group">
                    <label asp-for="Customer.Surname" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="Customer.Surname" class="form-control" />
                        <span asp-validation-for="Customer.Surname" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Customer.Name" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="Customer.Name" class="form-control" />
                        <span asp-validation-for="Customer.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Customer.FatherName" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="Customer.FatherName" class="form-control" />
                        <span asp-validation-for="Customer.FatherName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Customer.PhoneNumber" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="Customer.PhoneNumber" class="form-control" />
                        <span asp-validation-for="Customer.PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Customer.SecondaryPhoneNumber" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="Customer.SecondaryPhoneNumber" class="form-control" />
                        <span asp-validation-for="Customer.SecondaryPhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Customer.EmailAddress" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="Customer.EmailAddress" class="form-control" />
                        <span asp-validation-for="Customer.EmailAddress" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Customer.Address" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="Customer.Address" class="form-control" />
                        <span asp-validation-for="Customer.Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Customer.AdditionalInfo" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="Customer.AdditionalInfo" class="form-control" />
                        <span asp-validation-for="Customer.AdditionalInfo" class="text-danger"></span>
                    </div>
                </div> 
            </div>
        </div>
    </div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
</div>
</form>

@section Scripts {
    <script type="text/javascript">
        function begin(args) {
            if (args.requestType === 'delete') {
                args.model.dataSource.dataSource.headers = [];
                args.model.dataSource.dataSource.headers.push({
                    "sparepartid": args.data.SparePartId,
                    "orderid": args.data.OrderId
                });
            }
        };

        function complete(args) {
            if (args.requestType === 'delete'
            )
                args.model.dataSource.dataSource.headers =
                    []; //to avoid headers value to be interfered with other actions, emptied the Headers
        };

        function preventEditSparePartName(args) {
            if (args.columnIndex === 2) {
                args.cancel = true;
                alert();
            }
        };
    </script>
}
