@model Repairis.SpareParts.Dto.SparePartBasicEntityDto

@{
    ViewBag.Title = L("DeleteSparePart");
}
<div>
    <a asp-action="Index">@L("BackToList")</a>
</div>
<h3>@Model.BrandName @Model.SparePartName</h3>
<p>@L("DeleteSparePartConfirmation")</p>
<form asp-action="Delete" method="post">
    <input type="submit" value="@L("Delete")" class="btn btn-default" />
</form>
