@model List<Repairis.DeviceModels.Dto.DeviceModelBasicEntityDto>

@{
    ViewBag.Title = "Device models";
}
<h2>Device models</h2>
<p>
    <a asp-action="Create" class="btn btn-success"><i class="fa fa-plus"></i> New device model</a>
</p>
<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>@L("DeviceCategoryName")</th>
        <th>@L("BrandName")</th>
        <th>@L("DeviceModelName")</th>
        <th>@L("Enabled")</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-pencil text-success fa" aria-hidden="true"></i></a>
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash-o text-danger fa" aria-hidden="true"></i></a>
            </td>
            <td>
                @item.DeviceCategoryName
            </td>
            <td>
                @item.BrandName
            </td>
            <td>
                @item.DeviceModelName
            </td>
            <td>
                @if (item.IsActive)
                {
                    <span class="text-success">@L("Yes")</span>
                }
                else
                {
                    <span class="text-danger">@L("No")</span>
                }
            </td>
        </tr>
    }
    </tbody>
</table>
